<div class="container-fluid">
    <div class="row navbar">
        <a href="/Friends" class="col-md-3 col-sm-3 col-xs d-flex justify-content-start">
            <h1>F.R.I.E.N.D.S</h1>
        </a>
        <div class="col-md-6 col-sm-6 col-xs d-flex justify-content-center">
            <input type="text" placeholder="Search by quote (e.g. how you doin, italian guy, medical marvel)"
                class="form-control" [formControl]="term">
        </div>
        <div class="col-md-3 col-sm-3 col-xs d-flex justify-content-end flex-end">
            <button type="button" class="btn btn-success" (click) = "onClick()">RANDOM</button>
        </div>
    </div>
    <ngx-spinner>
        <p class="loading">Loading...</p>
    </ngx-spinner>
</div>