<div class="container-fluid">
    <div class="row navbar">
        <div class="col-lg col-md col-sm col-xs d-flex justify-content-start">
            <a href="/Friends">
                <h1>F.R.I.E.N.D.S</h1>
            </a>
            <a href="https://liberapay.com/ispandey/donate">
                <img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg">
            </a>
        </div>
        <div class="col-lg col-md col-sm col-xs d-flex justify-content-center">
            <input type="text" placeholder="Search by quote (e.g. how you doin, italian guy, medical marvel)"
                class="form-control" [formControl]="term">
        </div>
        <div class="col-lg col-md col-sm col-xs d-flex justify-content-end flex-end">
            <button type="button" class="btn btn-success" (click)="onClick()">RANDOM</button>
        </div>
    </div>
    <ngx-spinner>
        <p class="loading">Loading...</p>
    </ngx-spinner>
</div>