.container-fluid {
    background-color: currentColor;
}
.navbar > .justify-content-start > a:first-child {
    text-decoration: none;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
}