.bi-lightbulb-fill {
    font-size: 4rem;
    color: #28a745;
    position: fixed;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
.container-fluid {
    position: relative;
    overflow: hidden;
}